.banner {
    font-family:arial,sans-serif;
    font-size:100%;
    margin:3em;
    color:#fff;
}

ul {
    padding: 0px;
    width: fit-content; 
    height: 100%;
    margin: 0px;
    margin: auto;
}

ul li h2{
    font-size:140%;
    font-weight:bold;
    padding-bottom:10px;
}

ul li p{
    font-family:"Reenie Beanie",arial,sans-serif;
    font-size:180%;
}

.banner ul,li{
    list-style:none; /* Remove list style */
}

.banner ul li a{
    text-decoration:none;
    color:#000;
    background:#ffc;
    display:block;
    height:18em;
    max-width:18em;
    padding:1em;

    /* Setup a shadow using box-shadow */

     /* Firefox */
    -moz-box-shadow:5px 5px 7px rgba(33,33,33,1);
    /* Safari+Chrome */
    -webkit-box-shadow: 5px 5px 7px rgba(33,33,33,.7);
    /* Opera */
    box-shadow: 5px 5px 7px rgba(33,33,33,.7);

    /* Smooth transition when zoomed */

    -moz-transition:-moz-transform .15s linear;
    -o-transition:-o-transform .15s linear;
    -webkit-transition:-webkit-transform .15s linear;

}

/* Note color */
.banner ul li:nth-child(even) a{
    -o-transform:rotate(4deg);
    -webkit-transform:rotate(4deg);
    -moz-transform:rotate(4deg);
    position:relative;
    top:5px;
    background:#cfc;
}

.banner ul li:nth-child(3n) a{
    -o-transform:rotate(-3deg);
    -webkit-transform:rotate(-3deg);
    -moz-transform:rotate(-3deg);
    position:relative;
    top:-5px;
    background:rgb(204, 239, 255);
}

/* Note rotation */ 
.banner ul li:nth-child(even) a{
    -o-transform:rotate(4deg);
    -webkit-transform:rotate(4deg);
    -moz-transform:rotate(4deg);
    position:relative;
    top:5px;
}

.banner ul li:nth-child(3n) a{
    -o-transform:rotate(-3deg);
    -webkit-transform:rotate(-3deg);
    -moz-transform:rotate(-3deg);
    position:relative;
    top:-5px;
}

.banner ul li:nth-child(5n) a{
    -o-transform:rotate(5deg);
    -webkit-transform:rotate(5deg);
    -moz-transform:rotate(5deg);
    position:relative;
    top:-10px;
}

.banner ul li a:hover,ul li a:focus{
    /* Zooming the notes on hover and focus */
    -moz-box-shadow:10px 10px 7px rgba(0,0,0,.7);
    -webkit-box-shadow: 10px 10px 7px rgba(0,0,0,.7);
    box-shadow:10px 10px 7px rgba(0,0,0,.7);
    -webkit-transform: scale(1.25);
    -moz-transform: scale(1.25);
    -o-transform: scale(1.25);
    position:relative;
    z-index:5;
    cursor: pointer;
  }

.banner ul li{
    margin:1em;
    float:left;
}