<div class="container mt-5" style="background-color: white; border-radius: 25px;">
  <div class="row">
    <div class="offset-3"></div>
    <div class="col-md-6">
      <!-- #field_name is an alias for an element. -->
      <!-- The feedback will be send only if the form is valid. -->
      <form name="form" #f="ngForm" class="feedback-form  p-5" (ngSubmit)="f.form.valid && sendFeedback()" novalidate>
        
        <p class="h4 mb-4 text-center">Give us your feedback</p>
        
        <div class="form-group">
          <label for="name">First name</label>
          <input type="text"
              id="name" class="form-control" name="name"
              placeholder="Your name!" [(ngModel)]="model.name"
              #name="ngModel" [ngClass]="{'is-invalid' : f.submitted && name.invalid}" required/>
          <div *ngIf="f.submitted && name.invalid" class="invalid-input">
            <!-- Individual validation error. -->
            <div *ngIf="name.errors?.required">Field is required!</div>
          </div>
        </div>

        <div class="form-group">
          <label for="email">Email</label>
          <input type="text"
              id="email" class="form-control" name="email"
              placeholder="Your email!" [(ngModel)]="model.email"
              #email=ngModel [ngClass]="{'is-invalid' : f.submitted && email.invalid}"
              required email />
          <div *ngIf="f.submitted && email.invalid" class="invalid-input">
            <div *ngIf="email.errors?.required" >Field is required!</div>
            <div *ngIf="email.errors?.email">Field is not a valid email!</div>
          </div>
        </div>

        <div class="form-group">
          <label for="feedback">Feedback</label>
          <textarea type="text"
              id="feedback" class="form-control" name="feedback"
              placeholder="Your feedback!" rows="10" [(ngModel)]="model.feedback"
              #feedback="ngModel" [ngClass]="{'is-invalid' : f.submitted && feedback.invalid}"
              required minlength="10">
          </textarea>
          <div *ngIf="f.submitted && feedback.invalid" class="invalid-input">
            <div *ngIf="feedback.errors?.required">Field is required!</div>
            <div *ngIf="feedback.errors?.minlength">Field is too small! (try 10 characters)</div>
          </div>
        </div>

        <div style="display: flex; flex-direction: row; margin-bottom: 50px">     
          <!-- Recaptcha component -->
          <div>
            <ngx-recaptcha2 #captchaElem
            [siteKey]="key" 
            [ngModel]="recaptcha"
            name="captchaElem"
            (success)="handleSuccess($event)">
            </ngx-recaptcha2>
            <div class="invalid-input" *ngIf="captchaError">Captcha is required!</div>
          </div>
          <!-- Submit button -->
          <button type="submit" class="btn btn-info" style="margin-left: auto; height: 40px;" >
            <i class="fa fa-envelope-o"></i>
            <span>Send Feedback</span>
          </button>      
        </div>

      </form>
    </div>
    <div class="offset-3"></div>
  </div>
</div>