<div class="container">
  <div class="row">
    <div class="offset-3"></div>
    <div class="col-md-7">
      <form name="form" class="border border-light p-5 mt-5 center-block" style="background-color: white; border-radius: 25px;" 
      name="form" (ngSubmit)="f.form.valid && createUser()" #f="ngForm" novalidate>

        <p class="h4 mb-4 text-center">Cadastro</p>
        
        <p class="instruction">
          O primeiro passo do castro é confirmar seu email. Informe seu email e aguarde na 
          caixa de entrada do mesmo o recebimento do email de confirmação para darmos continuidade
          ao processo de registro.
        </p>

        <div class="form-group">
          <label for="email">Email</label>
          <input type="text" name="email" class="form-control" [(ngModel)]="model.email" #email="ngModel" placeholder="Email"
          [ngClass]="{'is-invalid': f.submitted && !email.valid}" maxlength="30" required email/>
          <div *ngIf="f.submitted && email.invalid" class="invalid-input">
            <div class="text-danger" *ngIf="email.errors?.required">Email is required</div>
          </div>
          <div *ngIf="model.email != '' && email.invalid" class="invalid-input">
            <div class="text-danger" *ngIf="email.errors?.email">Email format is not valid</div>
          </div>
        </div>
        <div style="display: flex; align-items: center; flex-direction: column">
          <div>
            <ngx-recaptcha2 #captchaElem
            [siteKey]="key" 
            [ngModel]="recaptcha"
            name="captchaElem"
            (success)="handleSuccess($event)">
            </ngx-recaptcha2>
            <div class="text-danger" *ngIf="captchaError">Captcha is required!</div>
          </div>

          <div class="text-center">
            <button class="btn btn-info my-4" [disabled]="logging">
              <span *ngIf="logging" class="spinner-border spinner-border-sm text-warning" role="status" 
              aria-hidden="true"></span>
              Cadastrar
            </button>
          </div>

          <!-- Messages component -->
          <app-toaster></app-toaster>
        </div>

      </form>
    </div>
    <div class="offset-3"></div>
  </div>
</div>