<div class="list-group list-group-flush">
  <a class="list-group-item  list-group-item-action" (click)="findNotes()">
    <i class="fa fa-book"></i>&nbsp;Todas
  </a>
  <!-- Notebook list -->
  <a *ngFor="let notebook of notebooks" 
    (click)="selectNotebook(notebook)" 
    class="list-group-item list-group-item-action">
    <i class="fa fa-book"></i>&nbsp; 
    <input [(ngModel)]="notebook.name" 
      (change)="updateNotebook(notebook)" 
      type="text" 
      class="input-label"
      style="width: 80%;">
    <a class="pull-right text-danger" 
      (click)="deleteNotebook(notebook)">
      <span *ngIf="checkNotebookDeletingStatus(notebook)" 
            class="spinner-border spinner-border-sm text-danger" 
            role="status" aria-hidden="true">
      </span>
      <i *ngIf="!checkNotebookDeletingStatus(notebook)" class="fa fa-trash-o"></i>
    </a>
  </a>
</div>