<div class="container-fluid " >
  <div class="row mt-12">
    <div class="col-md-9">
      <div style="background-color: white; border-radius: 10px;">
        <!-- Note menu (search compoenent and buttons) -->
        <div class="row mt-6" style="margin-top:12px; padding: 10px">
          <div class="col-md-8 search-menu">
            <input type="text" [(ngModel)]="searchText" class="form-control" style="width:100%;" 
              placeholder="Search notes ...">
          </div>
          <div class="col-md-4 creation-menu">
            <!-- Create new notebook -->
            <button type="button" class="btn btn-info create-notebook-btn"  
              (click)="createNotebook()" [disabled]="savingNotebook">
              <span *ngIf="savingNotebook" class="spinner-border spinner-border-sm text-light" role="status" aria-hidden="true"></span>
              <i *ngIf="!savingNotebook" class="fa fa-plus"></i> New Notebook
            </button>
            <!-- Create new note -->
            <button type="button" class="btn btn-warning create-note-btn" style="margin-left:12px;" 
              (click)="createNote()" [disabled]="selectedNotebook == null || savingNote">
              <span *ngIf="savingNote" class="spinner-border spinner-border-sm text-text-light" role="status" aria-hidden="true"></span>
              <i *ngIf="!savingNote" class="fa fa-plus"></i> New note
            </button>
          </div>
        </div>
        <div class="row" style="margin-top:29px;">
          <!-- Notebook menu -->
          <div class="col-md-3">
            <br>
            <div class="list-group list-group-flush">
              <a class="list-group-item  list-group-item-action" (click)="selectAllNotes()">
                <i class="fa fa-book"></i>&nbsp;All
              </a>
              <!-- Notebook list -->
              <a *ngFor="let notebook of notebooks" (click)="selectNotebook(notebook)" class="list-group-item list-group-item-action">
                <i class="fa fa-book"></i>&nbsp; 
                <input [(ngModel)]="notebook.name" (change)="updateNotebook(notebook)" type="text" class="input-label"
                  style="width: 80%;">
                <a class="pull-right text-danger" (click)="deleteNotebook(notebook)">
                  <span *ngIf="checkNotebookDeletingStatus(notebook)" class="spinner-border spinner-border-sm text-danger" 
                    role="status" aria-hidden="true"></span>
                  <i *ngIf="!checkNotebookDeletingStatus(notebook)" class="fa fa-trash-o"></i>
                </a>
              </a>
            </div>
          </div>
          <!-- Notes panel -->
          <div class="col-md-9 notes-panel">  
            <div *ngIf="!loadingNotes">
              <div class="row">
                <div class="col-md-12">
                  <!-- Message if there are no notes -->
                  <h3><p *ngIf="selectedNotebook != null">{{selectedNotebook.name}}</p></h3>
                  <h3><p *ngIf="selectedNotebook == null">All notes</p></h3>
                  <p *ngIf="this.notes.length === 0">There are no notes do display in this notebook</p>
                </div>
              </div>
              <div class="row">
                <!-- Note list --> 
                <app-note *ngFor="let n of notes | noteSearchFilter:searchText" 
                  [note]="n"
                  (noteUpdated)="updateNote($event)" 
                  (noteDeleted)="deleteNote($event)"
                  [deletingNote]="deletingNote">
                </app-note>
              </div>
            </div>
            <!-- Loading spinner -->
            <div *ngIf="loadingNotes" style="text-align: center;">
              <div class="spinner-border" style="width: 6rem; height: 6rem; color: brown; " role="status">
                  <span class="sr-only">Loading...</span>
              </div>  
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="row mt-8 note-details">
        <div class="col-md-12">
            <p class="text-center">Note Details</p> 
        </div>
      </div>
      <div class="row mt-4 notifications">
        <div class="col-md-12"> 
          <p class="text-center">Notifications</p>
          <app-toaster></app-toaster>
        </div>  
      </div>
    </div>
  </div>
</div>