<div class="container-fluid">
  <div class="row ">
    <div class="col-lg-9">
      <div style="background-color: white; border-radius: 10px;">
        <!-- Note menu (search compoenent and buttons) -->
        <div class="row mt-6" style="margin-top:12px; padding: 10px">
          <div class="col-md-8 search-menu">
            <app-search (onTyping)="searchText = $event"></app-search>
          </div>
          <div class="col-md-4 creation-menu">
            <!-- Create new notebook -->
            <button type="button" class="btn btn-info create-notebook-btn"  
              (click)="createNotebook()" [disabled]="savingNotebook">
              <span *ngIf="savingNotebook" class="spinner-border spinner-border-sm text-light" role="status" aria-hidden="true"></span>
              <i *ngIf="!savingNotebook" class="fa fa-plus"></i> New Notebook
            </button>
            <!-- Create new note -->
            <button type="button" class="btn btn-warning create-note-btn" style="margin-left:12px;" 
              (click)="createNote()" [disabled]="selectedNotebook == null || savingNote">
              <span *ngIf="savingNote" class="spinner-border spinner-border-sm text-text-light" role="status" aria-hidden="true"></span>
              <i *ngIf="!savingNote" class="fa fa-plus"></i> New note
            </button>
          </div>
        </div>
        <div class="row" style="margin-top:29px;">
          <!-- Notebook menu -->
          <div class="col-md-3">
            <app-notebook-list 
              [notebooks]="notebooks"
              [selectNotebook]="selectNotebookCallback"
              [updateNotebook]="updateNotebookCallback"
              [deleteNotebook]="deleteNotebookCallback"
              [checkNotebookDeletingStatus]="checkNotebookDeletingStatusCallback"
              [findNotes]="getAllNotesCallback"
            ></app-notebook-list>
          </div>
          <!-- Notes panel -->
          <div class="col-md-9 notes-panel">  
            <div *ngIf="!loadingNotes">
              <div class="row">
                <div class="col-md-12">
                  <!-- Message if there are no notes -->
                  <h3><p *ngIf="selectedNotebook != null">{{selectedNotebook.name}}</p></h3>
                  <h3><p *ngIf="selectedNotebook == null">Todas as notas</p></h3>
                </div>
              </div>
              <!-- Note list -->
              <app-note-list 
                [notes]="notes | noteSearchFilter:searchText"
                [updateNote]="updateNoteCallback"
                [deleteNote]="deleteNoteCallback">
              </app-note-list>
              <app-load-button 
                (click)="load()" 
                [hasMore]="hasMore && (searchText == null || !searchText.length)">
              </app-load-button>
            </div>
            <!-- Loading spinner -->
            <div *ngIf="loadingNotes" style="text-align: center;">
              <div class="spinner-border" style="width: 6rem; height: 6rem; color: brown; " role="status">
                  <span class="sr-only">Carregando...</span>
              </div>  
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-3 right-side-bar">
        <div class="col-lg-3 fixed"> 
          <div class="row mt-8 note-details">
            <div class="col-md-12">
              <p class="text-center">Detalhes da nota selecionada</p> 
              <div *ngIf="selectedNote != null">
                <p>Título: {{selectedNote.title}}</p>
                <p>Último update: {{selectedNote.lastModifiedOn | date:'dd-MM-yyyy HH:mm'}}</p>
                Cor da nota <input class="circle" size="1px" 
                          [cpOKButton]="true"
                          [cpOKButtonText]="'Usar cor'"
                          [(colorPicker)]="selectedNote.backgroundColor" 
                          [style.background]="selectedNote.backgroundColor"
                          [cpPosition]="'bottom-right'"
                          [cpPresetLabel]="'Cores salvas'"
                          [cpSaveClickOutside]="false"

                          [cpAddColorButton]="true"
                          [cpAddColorButtonText]="'Salvar cor'"

                          [cpPresetColors]="presetColors"
                          [cpMaxPresetColorsLength]="'10'" 
                          [cpPresetEmptyMessage]="'Nenhuma cor salva.'"
                          (cpPresetColorsChange)="presetColorsChange($event)"

                          (colorPickerOpen)="colorPickerOpen($event)"
                          (cpToggleChange)="noteColorDialogClosed($event)"
                          (colorPickerChange)="noteColorChangeEvent($event)"
                          (colorPickerSelect)="colorPickerSelect($event)"/>    
              </div>
            </div>
          </div>
          <div class="row mt-4 notifications">
            <div class="col-md-12"> 
              <p class="text-center">Notificações</p>
              <app-toaster></app-toaster>
            </div>  
          </div>
    </div>
    </div>
  </div>
</div>