<div class="container">

  <!-- Note menu -->
  <div class="row" style="margin-top:12px">
    <div class="col-md-8">
      <input type="text" [(ngModel)]="searchText" class="form-control" style="width:100%;" 
        placeholder="Search notes ...">
    </div>
    <div class="col-md-4">
      <!-- Create new notebook -->
      <button type="button" class="btn btn-info pull-right" style="margin-left:12px;" 
        (click)="createNotebook()">
        <i class="fa fa-plus"></i> New Notebook
      </button>
      <!-- Create new note -->
      <button type="button" class="btn btn-warning pull-right" style="margin-left:12px;" 
        (click)="createNote()" [disabled]="selectedNotebook == null">
        <i class="fa fa-plus"></i> New note
      </button>
    </div>
  </div>

  <div class="row" style="margin-top:29px;">
    <!-- Notebook menu -->
    <div class="col-md-3">
      <br>
      <div class="list-group list-group-flush">
        <a class="list-group-item  list-group-item-action" (click)="selectAllNotes()">
          <i class="fa fa-book"></i>&nbsp;All
        </a>
        <!-- Notebook list -->
        <a *ngFor="let notebook of notebooks" (click)="selectNotebook(notebook)" class="list-group-item list-group-item-action">
          <i class="fa fa-book"></i>&nbsp; 
          <input [(ngModel)]="notebook.name" (change)="updateNotebook(notebook)" type="text" class="input-label"
            style="width: 80%;">
          <a class="pull-right text-danger" (click)="deleteNotebook(notebook)">
            <i class="fa fa-trash-o"></i>
          </a>
        </a>
      </div>
    </div>
    <!-- Notes panel -->
    <div class="col-md-9">
      <div class="row">
        <div class="col-md-12">
          <!-- Message if there are no notes -->
          <h3><p *ngIf="selectedNotebook != null">{{selectedNotebook.name}}</p></h3>
          <h3><p *ngIf="selectedNotebook == null">All notes</p></h3>
          <p *ngIf="this.notes.length === 0">There are no notes do display in this notebook</p>
        </div>
      </div>
      <div class="row">
        <!-- Note list -->
        <app-note  *ngFor="let n of notes | noteSearchFilter:searchText" 
          [note]="n"
          (noteUpdated)="updateNote($event)" 
          (noteDeleted)="deleteNote($event)">
        </app-note>
      </div>
    </div>
  </div>

</div>