<div class="container ">
  <div class="row">
    <div class="offset-3"></div>
    <div class="col-md-6">

      <!-- novalidade is used to disable browsers native form validation -->
      <form class="border border-light p-5 mt-5 center-block" style="background-color: white; border-radius: 25px;"
        name="form" (ngSubmit)="f.form.valid && login()" #f="ngForm">

        <p class="h4 mb-4 text-center">Sign In</p>

        <div class="form-group">
          <label for="username">Username</label> 
          <input type="text" name="username"  class="form-control" [(ngModel)]="model.username" #username="ngModel" 
            placeholder="Username" [ngClass]="{'is-invalid': f.submitted && !username.valid}" required minlength="2" maxlength="10">
          <div *ngIf="f.submitted && username.invalid" class="invalid-input">
            <div class="text-danger" *ngIf="username.errors?.required">Username is required</div>
            <div class="text-danger" *ngIf="username.errors?.email">Username is not valid</div>
          </div>
        </div>

        <div class="form-group">
          <label for="password">Password</label> 
          <input type="password" name="password"  class="form-control" [(ngModel)]="model.password" #password="ngModel" 
            placeholder="Password" [ngClass]="{'is-invalid': f.submitted && !password.valid}" required minlength="4" maxlength="8">
          <div class="invalid-input" *ngIf="f.submitted && password.invalid">
            <div class="mb-4 text-danger help-block" *ngIf="password.errors?.required">Password is required</div>
          </div>
        </div>

        <div style="display: flex; align-items: center; flex-direction: column">
          <div>
            <ngx-recaptcha2 #captchaElem
            [siteKey]="key" 
            [ngModel]="recaptcha"
            name="captchaElem"
            (success)="handleSuccess($event)">
            </ngx-recaptcha2>
            <div class="text-danger" *ngIf="captchaError">Captcha is required!</div>
          </div>

          <div class="text-center">
            <button class="btn btn-info my-4" [disabled]="logging">
              <span *ngIf="logging" class="spinner-border spinner-border-sm text-warning" role="status" 
              aria-hidden="true"></span>
              Sign In
            </button>
          </div>

          <!-- Register -->
          <p class="text-center">Not a member?
              <a routerLink="/signup">Sign Up</a>
          </p>

          <!-- Messages component -->
          <app-toaster></app-toaster>
        </div>

      </form>

     
    </div>
  </div>
</div>