<div class="container-fluid" >
  <div class="row mt-12" style="margin: 50px;">
    <div class="col-md-9" style="margin:0; padding:0;">
      <app-main-banner></app-main-banner>
    </div>
    <div class="col-md-3" style="padding: 10px;">
      <!-- novalidade is used to disable browsers native form validation -->
      <form class="border border-light p-5 mt-5 center-block" style="background-color: white; border-radius: 25px;"
        name="form" (ngSubmit)="f.form.valid && login()" #f="ngForm">

        <p class="h4 mb-4 text-center">Entrar</p>

        <div class="form-group">
          <label for="username">Nome do usuário</label> 
          <input type="text" name="username"  class="form-control" [(ngModel)]="model.username" #username="ngModel" 
            placeholder="Nome de usuário" [ngClass]="{'is-invalid': f.submitted && !username.valid}" required minlength="2" maxlength="12">
          <div *ngIf="f.submitted && username.invalid" class="invalid-input">
            <div class="text-danger" *ngIf="username.errors?.required">Nome de usuário é obrigatório</div>
          </div>
          <div *ngIf="model.username != '' && username.invalid" class="invalid-input">
            <div class="text-danger" *ngIf="username.errors?.minlength">O nome de usuário deve ter entre 2 e 12 caracteres.</div>
          </div>
        </div>

        <div class="form-group">
          <label for="password">Senha</label> 
          <input type="password" name="password"  class="form-control" [(ngModel)]="model.password" #password="ngModel" 
            placeholder="Senha" [ngClass]="{'is-invalid': f.submitted && !password.valid}" required minlength="4" maxlength="12">
          <div class="invalid-input" *ngIf="f.submitted && password.invalid">
            <div class="mb-4 text-danger help-block" *ngIf="password.errors?.required">Senha é obrigatória</div>
          </div>
          <div class="invalid-input" *ngIf="model.password != '' && password.invalid">
            <div class="mb-4 text-danger help-block" *ngIf="password.errors?.minlength">Senha deve ter entre 4 e 12 caracteres</div>
          </div>
        </div>

        <div style="display: flex; align-items: center; flex-direction: column">
          
          <div>
            <ngx-recaptcha2 #captchaElem
            [siteKey]="key" 
            [ngModel]="recaptcha"
            name="captchaElem"
            size="compact"
            (success)="handleSuccess($event)">
            </ngx-recaptcha2>
            <div class="text-danger" *ngIf="captchaError">Captcha é obrigatório!</div>
          </div>

          <div class="text-center">
            <button class="btn btn-info my-4" [disabled]="logging">
              <span *ngIf="logging" class="spinner-border spinner-border-sm text-warning" role="status" 
              aria-hidden="true"></span>
              Entrar
            </button>
          </div>

          <!-- Register -->
          <p class="text-center">Não cadastrado?
              <a routerLink="/signup">Cadastre-se</a>
          </p>

          <!-- Messages component -->
          <app-toaster></app-toaster>
        </div>
      </form>     
    </div>
  </div>
</div>