<form   
  [formGroup]="updatePasswordForm"
  class="border border-light p-5 mt-5 center-block" 
  style="background-color: white; border-radius: 25px;" 
  (submit)="submit()" #f="ngForm" novalidate>

  <!-- Password field -->
  <div class="form-group">
    <div>
      <label for="password">Nova senha</label>
      <input type="password" 
        formControlName="password"
        class="form-control"  
        placeholder="Senha (entre 4 e 12 caracteres)"
        minlength="4" 
        maxlength="12">
        <div class="text-danger">
          <small class="d-block" *ngIf="updatePasswordForm.get('password').errors?.required">Senha é obrigatória</small>
          <small class="d-block" *ngIf="updatePasswordForm.get('password').errors?.minlength">No mínimo 4 caracteres</small>
          <small class="d-block" *ngIf="updatePasswordForm.get('password').errors?.maxlength">No máximo 12 caracteres</small>
        </div>
    </div>
    <div style="margin-top: 10px;">
      <label for="password">Confirmação de senha</label> 
      <input type="password" 
        formControlName="passwordConfirmation"
        class="form-control" 
        placeholder="Senha" 
        minlength="4" maxlength="12">
        <small class="text-danger d-block" *ngIf="updatePasswordForm.get('passwordConfirmation').errors?.mustMatch">As senhas não conferem</small>
    </div>
  </div>       
  <div style="display: flex; align-items: center; flex-direction: column">
    <div>
      <ngx-recaptcha2 #captchaElem
        [siteKey]="key" 
        formControlName="recaptcha"
        size="compact"
        name="captchaElem"
        (success)="handleSuccess($event)">
      </ngx-recaptcha2>
      <small class="text-danger" *ngIf="captchaError">Captcha is required!</small>
    </div>

    <div class="text-center">
      <button class="btn btn-info my-4" [disabled]="updatePasswordForm.invalid || updatePasswordForm.pending || !captchaSuccess">
        <span *ngIf="logging" class="spinner-border spinner-border-sm text-warning" role="status" aria-hidden="true"></span>
        Cadastrar
      </button>
    </div>
  </div>
</form>